<div class="uk-grid test">
        <div class="uk-width-1-6"></div>
        <div class="uk-width-2-6 padding-box-login-image"><img src="/images/login-backgroud.png"></div>
        <div class="uk-width-2-6 padding-box-login">
          <div class="uk-panel uk-panel-box custom-font">
              <center class="font-index-panel">
                <h1 class="uk-panel-title custom-title-panel">
                  Date With Me
                </h1>
                <h4>Đăng kí để tham gia hẹn hò,giao lưu kết bạn <3 </h4>
                <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Đăng nhập bằng facebook</button>
                <h3 class="custom-font">Hoặc</h3>
                <form class="uk-form">
                  <div class="uk-form-row">
                      <div class="uk-form-controls">
                          <input type="text" class="uk-width-1-1 uk-form-large" placeholder="Email">
                      </div>
                  </div>
                  <div class="uk-form-row">
                      <div class="uk-form-controls">
                          <input type="text" placeholder="Tên hiển thị" class="uk-width-1-1 uk-form-large">
                      </div>
                  </div>
                  <div class="uk-form-row">
                      <div class="uk-form-controls">
                          <input type="text" placeholder="Tên đăng nhập" class="uk-width-1-1 uk-form-large">
                      </div>
                  </div>
                  <div class="uk-form-row">
                      <div class="uk-form-controls">
                          <input type="password" placeholder="Mật khẩu" class="uk-width-1-1 uk-form-large">
                      </div>
                  </div>
                  <div class="uk-form-row">
                      <div class="uk-form-controls">
                        <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Đăng kí</button>
                        <p>Bằng cách đăng ký, bạn đồng ý với Điều khoản và Chính sách quyền riêng tư của chúng tôi.</p>
                      </div>
                  </div>
                </form>
              </center>
          </div>
          <div class="uk-panel uk-panel-box">
              <center class="custom-font">
                <p class="custom-font">Bạn có tài khoản?<a href="#">Đăng nhập</a></p>
              </center>
          </div>
        </div>
    </div>